<!DOCTYPE html>
<html lang="en">
	<head>
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link rel="stylesheet" href="/index.css" />
			<meta
				name="description"
				content="A simple Tic Tac Toe game built using HTML, CSS, and JavaScript."
			/>
			<meta name="keywords" content="Tic Tac Toe, JavaScript, Game, HTML, CSS" />
			<meta name="author" content="Sathwik" />

			<!-- Favicon -->
			<link rel="icon" href="./icon.png" />
			<link rel="apple-touch-icon" href="./icon.png" />

			<!-- Open Graph (Facebook, LinkedIn, etc.) -->
			<meta property="og:title" content="Tic Tac Toe Game" />
			<meta
				property="og:description"
				content="A simple Tic Tac Toe game built using HTML, CSS, and JavaScript."
			/>
			<meta property="og:image" content="./icon.png" />
			<meta property="og:url" content="https://tictactoe.sathwik.xyz" />
			<meta property="og:type" content="website" />

			<!-- Twitter Card -->
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:title" content="Tic Tac Toe Game" />
			<meta
				name="twitter:description"
				content="A simple Tic Tac Toe game built using HTML, CSS, and JavaScript."
			/>
			<meta name="twitter:image" content="./icon.png" />
			<meta name="twitter:url" content="https://tictactoe.sathwik.xyz" />
			<title>Tic Tac Toe | Online PvP</title>
		</head>
	</head>
	<body>
		<div class="nav">
			<div class="nav--left sour--gummy">
				<a href="/"><div class="title">XO</div></a>
			</div>
			<div class="nav--right">
				<div class="inter nav--item">
					<a class="nav--item" href="/">Local PvP</a>
				</div>
				<div class="inter nav--item">
					<a class="nav--item" href="/pvp">Online PvP</a>
				</div>
				<div class="inter nav--item">
					<a class="nav--item" href="https://github.com/sathwikv2005/Tic-Tac-Toe">GitHub</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="turndiv" class="inter">ROOM ID: <span id="roomID" class="inter"></span></div>
			<div class="playersdiv inter">
				<div id="player1div" class="players">
					<span id="player1" class="player sour--gummy">player1 (X)</span>
					<span id="player1wins" class="wins">0</span>
				</div>
				<div id="player2div" class="players">
					<span id="player2" class="player sour--gummy">player2 (O)</span>
					<span id="player2wins" class="wins">0</span>
				</div>
			</div>
			<div class="board">
				<div class="row row1">
					<div id="box11" class="box"></div>
					<div id="box12" class="box"></div>
					<div id="box13" class="box"></div>
				</div>
				<div class="row row2">
					<div id="box21" class="box"></div>
					<div id="box22" class="box"></div>
					<div id="box23" class="box"></div>
				</div>
				<div class="row row3">
					<div id="box31" class="box"></div>
					<div id="box32" class="box"></div>
					<div id="box33" class="box"></div>
				</div>
			</div>
			<div class="control">
				<button id="newGameBtn" class="reset sour--gummy" onclick="reset()">New Game</button>
			</div>
		</div>
		<div id="notification-container" class="notification-container"></div>

		<script
			src="https://cdn.socket.io/4.8.1/socket.io.min.js"
			integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
			crossorigin="anonymous"
		></script>
		<script src="/board.js"></script>
	</body>
</html>
